body{
    min-height:100vh;
    background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}


.main_container{
    min-height: 100vh;
}

.white_card{
    background: white;
    border-radius: 25px;
    display: flex;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -564px -314px;
    padding: 50px 0px;
    position: relative;
    width: 62%;
    align-items: center;
}

.img_container{
    overflow: hidden;
}

.woman{
    margin-left: -85px;
}

.box{
    position: absolute;
    left: -92px;
    top: 192px;
}


h1{
    font-weight: 700;
    font-size: 1.75rem;
}

h5{
    font-size: 14px;
    margin: 0;
}

.card{
    border-bottom: 1px solid hsl(240, 5%, 91%) !important;
    border: none;
}

.card-header{
    background: none;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-right: 1rem;
    padding-left: 0px;
    border: none;
    color:hsl(237, 12%, 33%);
}

.card-body{
    padding: 0.75rem 0px;
    color:hsl(240, 6%, 50%);
}


.bould{
    font-weight: 700;
}

.collapsed{
    font-weight: normal;
}

.rotated{
    transform: rotate(0deg) !important;
    transition: 0.5s ease-in-out;
}

.not_rotated{
    transform: rotate(180deg);
    transition: 0.5s ease-in-out; 
}

.item{
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin-bottom: 5px;
}

.question:hover{
    color: hsl(14, 88%, 65%);
}

.answer{
    margin: 0;
}

p{
    font-size: 12px;
    color: hsl(240, 6%, 50%);
    margin: 0;
}